{% extends "Home/base.html" %}
{% load static %}
{% block content %}

<section>
    <div class="lgx-banner lgx-banner-inner">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading-area">
                            <div class="lgx-heading lgx-heading-white">
                                <h2 class="heading-title">Photo Gallery</h2>
                            </div>
                            <ul class="breadcrumb">
                                <li><a href="index.html"><i class="icon-home6"></i>Home</a></li>
                                <li class="active">Gallery</li>
                            </ul>
                        </div>
                    </div>
                </div><!--//.ROW-->
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>

<!--PHOTO GALLERY-->
<section>
    <div id="lgx-photo-gallery" class="lgx-photo-gallery"> <!--lgx-gallery-without-subsctibe-->
        <div id="lgx-memorisinner" class="lgx-memorisinner">
            <div class="lgx-inner">
                <div class="container">
                    <div class="lgx-gallery-area">
                        <div  class="lgx-gallery-single">
                            <figure>
                                <img title="Memories One" src="{%static 'Home/img/gallery/g1.png' %}" alt="Memories one"/>
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories One" href="{%static 'Home/img/gallery/g1.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div  class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g2.png' %}" alt="Memories Two" title="Memories Two" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Two" href="{%static 'Home/img/gallery/g2.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div  class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g3.png' %}" alt="Memories Three" title="Memories Three" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Three" href="{%static 'Home/img/gallery/g3.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div  class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g4.png' %}" alt="Memories Four" title="Memories Four" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Four" href="{%static 'Home/img/gallery/g4.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g5.png' %}" alt="Memories Five" title="Memories Five" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Five" href="{%static 'Home/img/gallery/g5.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g6.png' %}" alt="Memories Six" title="Memories Six" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Six" href="{%static 'Home/img/gallery/g6.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g7.png' %}" alt="Memories Six" title="Memories Six" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Six" href="{%static 'Home/img/gallery/g7.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div  class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g8.png' %}" alt="Memories Three" title="Memories Three" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Three" href="{%static 'Home/img/gallery/g8.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div  class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g9.png' %}" alt="Memories Four" title="Memories Four" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Four" href="{%static 'Home/img/gallery/g9.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g10.png' %}" alt="Memories Five" title="Memories Five" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Five" href="{%static 'Home/img/gallery/g10.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div  class="lgx-gallery-single">
                            <figure>
                                <img title="Memories One" src="{%static 'Home/img/gallery/g11.png' %}" alt="Memories one"/>
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories One" href="{%static 'Home/img/gallery/g11.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div  class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g12.png' %}" alt="Memories Two" title="Memories Two" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Two" href="{%static 'Home/img/gallery/g12.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div  class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g13.png' %}" alt="Memories Three" title="Memories Three" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Three" href="{%static 'Home/img/gallery/g13.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div  class="lgx-gallery-single">
                            <figure>
                                <img src="{%static 'Home/img/gallery/g14.png' %}" alt="Memories Four" title="Memories Four" />
                                <figcaption class="lgx-figcaption">
                                    <div class="lgx-hover-link">
                                        <div class="lgx-vertical">
                                            <a title="Memories Four" href="{%static 'Home/img/gallery/g14.png' %}">
                                                <i class="fa fa-search fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                              <div  class="lgx-gallery-single">
                                 <figure>
                                    <img src="{%static 'Home/img/gallery/g15.png' %}" alt="Memories Four" title="Memories Four" />
                                    <figcaption class="lgx-figcaption">
                                        <div class="lgx-hover-link">
                                            <div class="lgx-vertical">
                                                <a title="Memories Four" href="{%static 'Home/img/gallery/g15.png' %}">
                                                    <i class="fa fa-search fa-2x"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figcaption>
                                 </figure>
                                </div>
                                <div  class="lgx-gallery-single">
                                        <figure>
                                            <img src="{%static 'Home/img/gallery/g16.png' %}" alt="Memories Four" title="Memories Four" />
                                            <figcaption class="lgx-figcaption">
                                                <div class="lgx-hover-link">
                                                    <div class="lgx-vertical">
                                                        <a title="Memories Four" href="{%static 'Home/img/gallery/g16.png' %}">
                                                            <i class="fa fa-search fa-2x"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div  class="lgx-gallery-single">
                                            <figure>
                                                <img src="{%static 'Home/img/gallery/g17.png' %}" alt="Memories Four" title="Memories Four" />
                                                <figcaption class="lgx-figcaption">
                                                    <div class="lgx-hover-link">
                                                        <div class="lgx-vertical">
                                                            <a title="Memories Four" href="{%static 'Home/img/gallery/g17.png' %}">
                                                                <i class="fa fa-search fa-2x"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div  class="lgx-gallery-single">
                                                <figure>
                                                    <img src="{%static 'Home/img/gallery/g18.png' %}" alt="Memories Four" title="Memories Four" />
                                                    <figcaption class="lgx-figcaption">
                                                        <div class="lgx-hover-link">
                                                            <div class="lgx-vertical">
                                                                <a title="Memories Four" href="{%static 'Home/img/gallery/g18.png' %}">
                                                                    <i class="fa fa-search fa-2x"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </div>
                            
                    </div>
                </div> <!--//.CONAINER-->
            </div>
        </div><!--//.lgx CONTACT INNER-->
    </div>
</section>
<!--PHOTO GALLERY END-->


{% endblock %}