
{% extends "Home/base.html" %}
{% block content %}
{% load static %}
<section>
    <div class="lgx-banner lgx-banner-inner">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading-area">
                            <div class="lgx-heading lgx-heading-white">
                                <h2 class="heading-title">Inter College Technical Meet</h2>
                            </div>
                            <ul class="breadcrumb">
                                <li><a href="{% url 'site-index' %}"><i class="icon-home6"></i>Events</a></li>
                                <li class="active">ITM</li>
                            </ul>
                        </div>
                    </div>
                </div><!--//.ROW-->
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>


    <!--ABOUT-->
    <section>
        <div id="lgx-about" class="lgx-about lgx-about-bottom"> <!--lgx-about-bottom-->
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <div class="lgx-about-area">
                                <div class="lgx-heading">
                                    <h2 class="heading-title">About ITM</h2>
                                    <h4 class="heading-subtitle">Inter College Technical Meet held annually every odd semester is a composition of many events such as Group Discussion Contest,Technical Quiz Contest,Technical Crossword & Quizzes witnessing participation of students from various colleges in and around Durgapur followed by a fierce competition among its participants resulting into great coherence of thoughts among the followers of a particular topic of interest giving an opportunity to converse and debate with the best technical minds in the vicinity.
                                    </h4>
                                </div>
                                <div class="lgx-about-content">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <img src="{% static 'Home/img/abt.png' %}" alt="about">
                            
                        </div>
                        
                    </div>
                    <!--//.ROW-->
                </div>
                <!-- //.CONTAINER -->
            </div>
            <!-- //.INNER -->
        </div>
        <br><br><br>
    </section>
    <!--ABOUT END-->


{% endblock content %}